:root {
  --bg-color: #09090b;
  --fg-color: #f8f8f8;
  --accent-color: #4ade80;
  --border-color: #333;
  --link-hover-bg: #1f1f1f;
  --shadow: rgba(0, 0, 0, 0.5);
}

html,
body {
  background-color: var(--bg-color);
  color: #f8f8f8;
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
}
